<div th:fragment="asset">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}" href="../../static/bootstrap/css/bootstrap.css" />
    <script th:src="@{/echarts/echarts.min.js}" src="../../static/echarts/echarts.min.js"></script>
    <script th:src="@{/jquery/jquery.min.js}" src="../../static/jquery/jquery.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../../static/bootstrap/js/bootstrap.min.js"></script>

</div>


<div th:fragment="footer">
    <div class="panel-footer">
        &copy; 2018 The Good Thymes Virtual Grocery
    </div>
</div>
