<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>welcome to NewStatSvn</title>
    <!--模板化导入asset信息-->
    <div th:include="common/include :: asset"></div>
</head>
<body>
<div th:include="common/include :: nav"></div>
<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>
            <span
                    class="glyphicon glyphicon-user"
                    aria-hidden="true">
            </span>
            [(${enginner.name})]
        </h1>
    </div>

</div>
<div th:include="common/include :: footer"></div>
</body>
</html>